body,a,p,span,div,section,header,h2,h1,h3,h4,h5{
	font-family: 'Titillium Web', sans-serif;
}
#header input{
	width:450px;
	border-radius: 5px;
	height:40px;
	margin-top:20px;
	margin-bottom:30px;
	margin-left:0px;
}
#header button{
	margin-top:20px;
	margin-bottom:30px;
}
#header form {
	border-radius: 4 8px 8px 0;
}
#header p{
	margin-top:40px;
	margin-bottom:30px;
	font-weight: bold;
	text-align: right;
}
#header select{
	height: 40px;
	width:150px;
	margin-top:20px;
	margin-bottom:30px;
	border-radius: 5px;

	
}
.search-form .form-group{
	position: relative;

}
	.search-form .form-group button{
	    position: absolute;
	    border: none;
	    top: 3px;
	    right: 4px;
	}
.sort-wrapper{
	text-align: right;
}
	.sort-wrapper p{
		display: inline;
		padding-right: 20px;
	}
	.sort-wrapper form{
		display: inline;
	}
	.wrapper-main{

	border-style:outset;
	border:1px solid #f1f1f1;
	border-radius:4px;
	margin-top:10px;
	margin-bottom: 10px;
}
	.wrapper-main:hover{
		border-color: green; 
	    
	}
.wrapper-rate{
	border-top: 1px solid #f1f1f1;
    background-color: #fafafa;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.main .lista{
	float:left;

}
	.main .lista ul{
		padding: 0px;
		
	}
		.main .lista ul li{
			display: inline-block;
				
			}
			.main .lista ul li a{
				display: inline-block;
				text-decoration: none;
				padding-right:3px;

			}
				.main .lista ul li a i{
					color: #ff9003;

				}
.main .list{
	float:left;


}
	.main .list ul{
		padding: 0px;
		
	}
		.main .list ul li{
			display: inline-block;
				
			}
			.main .list ul li a{
				display: inline-block;
				text-decoration: none;	
				padding:3px;
				color:black;
			}
			.main .list ul li a i{
				color: #7bc276;
				padding-right: 5px;
			}
